<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fu_berlin.imp.seqan.usability_analyzer.person.datasource" name="DataSource" schema="schema/de.fu_berlin.imp.seqan.usability_analyzer.person.datasource.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.person.views.PersonView"
            id="de.fu_berlin.imp.seqan.usability_analyzer.person.views.PersonView"
            name="Persons">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fu_berlin.imp.seqan.usability_analyzer.person.views.PersonView">
         <control
               class="de.fu_berlin.imp.seqan.usability_analyzer.person.views.controls.DiffOnlyPersonsButton">
         </control>
         <control
               class="de.fu_berlin.imp.seqan.usability_analyzer.person.views.controls.DoclogOnlyPersonsButton">
         </control>
         <control
               class="de.fu_berlin.imp.seqan.usability_analyzer.person.views.controls.SurveyOnlyPersonsButton">
         </control>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.fu_berlin.imp.seqan.usability_analyzer.person.model.Person"
            class="de.fu_berlin.imp.seqan.usability_analyzer.person.model.PersonAdapterFactory">
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.diff.model.DiffFileList">
         </adapter>
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.doclog.model.DoclogFile">
         </adapter>
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.survey.model.SurveyRecord">
         </adapter>
      </factory>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.core.daterange">
      <DateRangeListenerFactory
            class="de.fu_berlin.imp.seqan.usability_analyzer.person.views.PersonView$Factory">
      </DateRangeListenerFactory>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.person.datasource">
      <DataSourceFilterListenerFactory
            class="de.fu_berlin.imp.seqan.usability_analyzer.person.views.PersonView$Factory">
      </DataSourceFilterListenerFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.fu_berlin.imp.seqan.usability_analyzer.person.preferences.SUAEntityPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.fu_berlin.imp.seqan.usability_analyzer.core.preferences.SUACorePreferences"
            class="de.fu_berlin.imp.seqan.usability_analyzer.person.preferences.SUAEntityPreferences"
            id="de.fu_berlin.imp.seqan.usability_analyzer.person.preferences.SUAEntityPreferences"
            name="Entities">
      </page>
   </extension>

</plugin>
