<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fu_berlin.imp.seqan.usability_analyzer.diff.filefilter" name="FileFilter" schema="schema/de.fu_berlin.imp.seqan.usability_analyzer.diff.filefilter.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.diff.views.DiffExplorerView"
            icon="icons/view16/diff_misc.png"
            id="de.fu_berlin.imp.seqan.usability_analyzer.diff.views.DiffExplorerView"
            name="Diff Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.fu_berlin.imp.seqan.usability_analyzer.diff.preferences.SUADiffPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.fu_berlin.imp.seqan.usability_analyzer.core.preferences.SUACorePreferences"
            class="de.fu_berlin.imp.seqan.usability_analyzer.diff.preferences.SUADiffPreferencePage"
            id="de.fu_berlin.imp.seqan.usability_analyzer.diff.preferences.SUADiffPreferencePage"
            name="Diffs">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fu_berlin.imp.seqan.usability_analyzer.diff.views.DiffExplorerView">
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.addCodeInstance"
               label="Add Code to Phenomenon..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.compare.CompareEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.fu_berlin.imp.seqan.usability_analyzer.diff.model.DiffDataResource"
            class="de.fu_berlin.imp.seqan.usability_analyzer.diff.model.DiffFileAdapterFactory">
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.TimeZoneDateRange">
         </adapter>
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.IdDateRange">
         </adapter>
      </factory>
      <factory
            adaptableType="de.fu_berlin.imp.seqan.usability_analyzer.diff.model.DiffRecord"
            class="de.fu_berlin.imp.seqan.usability_analyzer.diff.model.DiffFileRecordAdapterFactory">
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.TimeZoneDateRange">
         </adapter>
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.IdDateRange">
         </adapter>
      </factory>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.core.daterange">
      <DateRangeListenerFactory
            class="de.fu_berlin.imp.seqan.usability_analyzer.diff.views.DiffExplorerView$Factory">
      </DateRangeListenerFactory>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.core.dataload">
      <DataLoadProvider
            class="de.fu_berlin.imp.seqan.usability_analyzer.diff.model.DiffDataLoader"
            source="de.fu_berlin.imp.seqan.usability_analyzer.diff.model.IDiffLoadDependency">
      </DataLoadProvider>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.diff.filefilter">
      <FileFilterListenerFactory
            class="de.fu_berlin.imp.seqan.usability_analyzer.diff.views.DiffExplorerView$Factory">
      </FileFilterListenerFactory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.diff.commands.AddCodeInstanceHandler"
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.addCodeInstance">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.compare.CompareEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.codeableprovider">
      <CodeableProviderFactory
            class="de.fu_berlin.imp.seqan.usability_analyzer.diff.gt.DiffCodeableProviderFactory">
      </CodeableProviderFactory>
   </extension>

</plugin>
