<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.help.contexts">
      <contexts file="contexts.xml">
      </contexts>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="de.fu_berlin.imp.seqan.usability_analyzer.commands.Empty" name="EMPTY">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.fu_berlin.imp.seqan.usability_analyzer.BrowsingPerspective"
            id="de.fu_berlin.imp.seqan.usability_analyzer.BrowsingPerspective"
            name="Browsing">
      </perspective>
      <perspective
            class="de.fu_berlin.imp.seqan.usability_analyzer.AllViewsPerspective"
            id="de.fu_berlin.imp.seqan.usability_analyzer.OpenCodingPerspective"
            name="Open Coding">
      </perspective>
      <perspective
            class="de.fu_berlin.imp.seqan.usability_analyzer.TimelinePerspective"
            id="de.fu_berlin.imp.seqan.usability_analyzer.TimelinePerspective"
            name="Timeline">
      </perspective>
      <perspective
            class="de.fu_berlin.imp.seqan.usability_analyzer.EditorOnlyPerspective"
            id="de.fu_berlin.imp.seqan.usability_analyzer.EditorOnlyPerspective"
            name="Editor Only">
      </perspective>
      <perspective
            class="de.fu_berlin.imp.seqan.usability_analyzer.AllViewsPerspective"
            id="de.fu_berlin.imp.seqan.usability_analyzer.AllViewsPerspective"
            name="All Views">
      </perspective>
   </extension>
   <extension
         id="de.fu_berlin.imp.seqan.usability_analyzer.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.fu_berlin.imp.seqan.usability_analyzer.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.fu_berlin.imp.seqan.usability_analyzer.application"
            name="SeqAn Usability Analyzer">
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="32,268,278,15">
         </property>
         <property
               name="startupMessageRect"
               value="32,288,278,15">
         </property>
         <property
               name="appName"
               value="SeqAn Usability Analyzer">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>
