<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeView"
            icon="icons/view/code_misc.png"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeView"
            name="Codes"
            restorable="true">
      </view>
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeInstancesView"
            icon="icons/view/code_misc.png"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeInstancesView"
            name="Associated Codes"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.PinnableMemoView"
            icon="icons/view/code_misc.png"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.PinnableMemoView"
            name="Memo"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.EditorOnlyMemoView"
            icon="icons/view/code_misc.png"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.EditorOnlyMemoView"
            name="Memo (Editor-Only)"
            restorable="true">
      </view>
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.EpisodeView"
            icon="icons/view/code_misc.png"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.EpisodeView"
            name="Episodes"
            restorable="true">
      </view>
   </extension>
     <extension
         point="org.eclipse.ui.commands">
        <command
              id="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.openCodeStore"
              name="Open Code Store...">
        </command>
        <command
              id="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.createCode"
              name="Create Code...">
        </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.addCodeInstance"
            name="Add Code...">
      </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID"
            name="Show Artefact ID...">
         <commandParameter
               id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID.justCopy"
               name="Just Copy"
               optional="false"
               values="de.fu_berlin.imp.seqan.usability_analyzer.core.commands.BooleanValues">
         </commandParameter>
      </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.createEpisode"
            name="Create Episode...">
      </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.recolorCode"
            name="Change Color...">
      </command>
      <command
            description="Pinned memo stay in this view and won&apos;t be replaced if another memorable object has been selected."
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.pinMemo"
            name="Pin Memo">
         <state
               id="org.eclipse.ui.commands.toggleState">
               <class
             class="org.eclipse.ui.handlers.RegistryToggleState">
	         <parameter 
	               name="default" 
	               value="false"> 
	         </parameter> 
	         <parameter 
	               name="persisted" 
	               value="false"> 
	         </parameter>
         
	         </class>
	         </state>
      </command>
   </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.OpenCodeStoreHandler"
              commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.openCodeStore">
           <activeWhen>
              <or>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.emptySelection">
                 </reference>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
                 </reference>
              </or>
           </activeWhen>
        </handler>
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.CreateCodeHandler"
              commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.createCode">
           <activeWhen>
              <or>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.emptySelection">
                 </reference>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
                 </reference>
              </or>
           </activeWhen>
        </handler>
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.AddCodeInstanceHandler"
              commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.addCodeInstance">
           <activeWhen>
              <or>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsILocatable">
                 </reference>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isILocatables">
                 </reference>
              </or>
           </activeWhen>
        </handler>
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.ShowArtifactIDHandler"
              commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID">
           <activeWhen>
              <or>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsILocatable">
                 </reference>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isILocatable">
                 </reference>
              </or>
           </activeWhen>
        </handler>
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.CreateEpisodeHandler"
              commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.createEpisode">
           <activeWhen>
              <or>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.informationIsHasDateRange">
                 </reference>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isKeyedHasRange">
                 </reference>
              </or>
           </activeWhen>
        </handler>
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.RecolorCodeHandler"
              commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.recolorCode">
           <activeWhen>
              <or>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
                 </reference>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsICode">
                 </reference>
              </or>
           </activeWhen>
        </handler>
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.PinMemoHandler"
              commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.pinMemo">
        </handler>
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.NavigateBackMemoViewHandler"
              commandId="org.eclipse.ui.navigate.back">
           <activeWhen>
              <with
                    variable="activePart">
                 <and>
                    <instanceof
                          value="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.AbstractMemoView">
                    </instanceof>
                    <test
                          property="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.canNavigateBack">
                    </test>
                 </and>
              </with>
           </activeWhen>
        </handler>
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.NavigateForwardMemoViewHandler"
              commandId="org.eclipse.ui.navigate.forward">
           <activeWhen>
              <with
                    variable="activePart">
                 <and>
                    <instanceof
                          value="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.AbstractMemoView">
                    </instanceof>
                    <test
                          property="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.canNavigateForward">
                    </test>
                 </and>
              </with>
           </activeWhen>
        </handler>
     </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeView?after=additions">
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.openCodeStore"
               icon="icons/obj16/code_obj.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.createCode"
               disabledIcon="icons/dtool16/create_code_tsk.png"
               icon="icons/etool16/create_code_tsk.png"
               label="Create Code..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.emptySelection">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.createCode"
               disabledIcon="icons/dtool16/create_code_tsk.png"
               icon="icons/etool16/create_code_tsk.png"
               label="Create Child Code..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.recolorCode"
               disabledIcon="icons/dtool16/edit_code_tsk.png"
               icon="icons/etool16/edit_code_tsk.png"
               label="Change Color..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsICode">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.addCodeInstance"
               disabledIcon="icons/dtool16/add_code_tsk.png"
               icon="icons/etool16/add_code_tsk.png"
               label="Add Code to Phenomenon..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasMultipleILocatables">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="icons/dtool16/add_code_tsk.png"
               icon="icons/etool16/remove_code_tsk.png"
               label="Remove Code from Phenomenon..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <and>
                     <reference
                           definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
                     </reference>
                     <reference
                           definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeInstancesView">
                     </reference></and>
                  <and>
                     <reference
                           definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeInstances">
                     </reference>
                     <reference
                           definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
                     </reference></and>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               icon="icons/etool16/delete_code_tsk.png"
               label="Delete Code..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodes">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.separator2"
               visible="true">
         </separator>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.createEpisode"
               disabledIcon="icons/dtool16/create_episode_tsk.png"
               icon="icons/etool16/create_episode_tsk.png"
               label="Create Episode..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasKeyedHasRange">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="icons/dtool16/delete_episode_tsk.png"
               icon="icons/etool16/delete_episode_tsk.png"
               label="Delete Episode..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasIEpisodes">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.separator3"
               visible="true">
         </separator>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID"
               icon="icons/obj16/code_obj.png"
               label="Show Artefact ID..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isILocatable">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID"
               icon="icons/obj16/code_obj.png"
               label="Copy Artefact ID"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isILocatable">
               </reference>
            </visibleWhen>
            <parameter
                  name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID.justCopy"
                  value="TRUE">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.PinnableMemoView?after=additions">
         <command
               commandId="org.eclipse.ui.navigate.back"
               disabledIcon="IMG_TOOL_BACK_DISABLED"
               hoverIcon="IMG_TOOL_BACK_HOVER"
               icon="IMG_TOOL_BACK"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.navigate.forward"
               disabledIcon="IMG_TOOL_FORWARD_DISABLED"
               hoverIcon="IMG_TOOL_FORWARD_HOVER"
               icon="IMG_TOOL_FORWARD"
               style="push">
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.pinMemo"
               disabledIcon="icons/dlcl16/pin_tsk.png"
               icon="icons/elcl16/pin_tsk.png"
               style="toggle">
         </command>
         <command
               commandId="com.bkahlert.devel.nebula.toggleSourceMode"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.EditorOnlyMemoView?after=additions">
         <command
               commandId="org.eclipse.ui.navigate.back"
               disabledIcon="IMG_TOOL_BACK_DISABLED"
               hoverIcon="IMG_TOOL_BACK_HOVER"
               icon="IMG_TOOL_BACK"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.navigate.forward"
               disabledIcon="IMG_TOOL_FORWARD_DISABLED"
               hoverIcon="IMG_TOOL_FORWARD_HOVER"
               icon="IMG_TOOL_FORWARD"
               style="push">
         </command>
         <command
               commandId="com.bkahlert.devel.nebula.toggleSourceMode"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.bkahlert.nebula.information?after=additions">
         <separator
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.addCodeInstance"
               disabledIcon="icons/dtool16/add_code_tsk.png"
               icon="icons/etool16/add_code_tsk.png"
               label="Add Code to Phenomenon..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsILocatable">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasMultipleILocatables">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <separator
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.separator2"
               visible="true">
         </separator>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.createEpisode"
               disabledIcon="icons/dtool16/create_episode_tsk.png"
               icon="icons/etool16/create_episode_tsk.png"
               label="Create Episode..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.informationIsHasDateRange">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasKeyedHasRange">
                  </reference></or>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="icons/dtool16/delete_episode_tsk.png"
               icon="icons/etool16/delete_episode_tsk.png"
               label="Delete Episode..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsIEpisode">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasIEpisodes">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <separator
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.separator3"
               visible="true">
         </separator>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID"
               icon="icons/obj16/code_obj.png"
               label="Show Artefact ID..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsILocatable">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isILocatable">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID"
               icon="icons/obj16/code_obj.png"
               label="Copy Artefact ID"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsILocatable">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isILocatable">
                  </reference>
               </or>
            </visibleWhen>
            <parameter
                  name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID.justCopy"
                  value="TRUE">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.RenameCodeHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <and>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
               </reference>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
               </reference>
            </and></activeWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.RemoveCodeHandlerCodeBased"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodes">
               </reference>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeInstancesView">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.RemoveCodeHandlerInstanceBased"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeInstances">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.DeleteCodeHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodes">
               </reference>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.RenameEpisodeHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference
                  definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isIEpisode">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.DeleteEpisodeHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <or>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsIEpisode">
               </reference>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasIEpisodes">
               </reference>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.services.impl.CodeServiceFactory">
         <service
               serviceClass="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.services.ICodeService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.preferences.SUAGTPreferences"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.preferences.SUAGTPreferences"
            name="Grounded Theory Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.preferences.SUAGTPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasMultipleILocatables">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.ILocatable">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasMultipleICodes">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICode">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasMultipleICodeaInstances">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.storage.ICodeInstance">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsILocatable">
         <with
               variable="com.bkahlert.nebula.information.input">
            <instanceof
                  value="de.fu_berlin.imp.seqan.usability_analyzer.core.model.ILocatable">
            </instanceof>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.core.emptySelection">
         <with
               variable="selection">
            <count
                  value="0">
            </count>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
         <with
               variable="activePartId">
            <equals
                  value="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeView">
            </equals>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isILocatables">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.ILocatable">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICode">
               </adapt>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsICode">
         <with
               variable="com.bkahlert.nebula.information.input">
            <instanceof
                  value="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICode">
            </instanceof>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodes">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICode">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasICodes">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICode">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeInstancesView">
         <with
               variable="activePartId">
            <equals
                  value="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeInstancesView">
            </equals>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeInstances">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.storage.ICodeInstance">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasICodeInstances">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.storage.ICodeInstance">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.adaptsToILocatable">
         <adapt
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.ILocatable">
         </adapt>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasILocatables">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.ILocatable">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isILocatable">
         <and>
            <reference
                  definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasILocatables">
            </reference>
            <reference
                  definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.definitions.singleSelection">
            </reference>
         </and>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isIEpisode">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.IEpisode">
               </adapt>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isIEpisodes">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.IEpisode">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasIEpisodes">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.IEpisode">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.informationIsIEpisode">
         <with
               variable="com.bkahlert.nebula.information.input">
            <instanceof
                  value="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.IEpisode">
            </instanceof>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isKeyedHasRange">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <adapt
                        type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.HasIdentifier">
                  </adapt>
               </or>
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.core.ui.viewer.filters.HasDateRange">
               </adapt>
            </iterate>
            <test
                  property="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.containsSingleKey">
            </test>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasKeyedHasRange">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <adapt
                        type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.HasIdentifier">
                  </adapt>
               </or>
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.core.ui.viewer.filters.HasDateRange">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.storage.ICodeInstance"
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.storage.ICodeInstanceAdapterFactory">
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.ILocatable">
         </adapter>
      </factory>
      <factory
            adaptableType="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.IEpisode"
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.EpisodeAdapterFactory">
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.TimeZoneDateRange">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.sourceProviders.SourceProvider">
         <variable
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.variable1"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.propertyTesters.ICodePropertyTester"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.propertyTesters.CodePropertyTester"
            namespace="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory"
            properties="hasInstances"
            type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICode">
      </propertyTester>
      <propertyTester
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.propertyTesters.SelectionPropertyTester"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.propertyTesters.SelectionPropertyTester"
            namespace="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory"
            properties="containsSingleKey"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.propertyTesters.MemoViewPropertyTester"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.propertyTesters.MemoViewPropertyTester"
            namespace="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory"
            properties="canNavigateBack,canNavigateForward"
            type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.AbstractMemoView">
      </propertyTester>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.core.locatorprovider">
      <LocatorProvider
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.EpisodeLocatorProvider">
      </LocatorProvider>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.core.locatorprovider">
      <LocatorProvider
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.CodeLocatorProvider">
      </LocatorProvider>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.timeline">
      <TimelineBandProvider
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.timeline.AnalysisTimelineBandProvider">
      </TimelineBandProvider>
   </extension>
   <extension
         point="com.bkahlert.nebula.information">
      <extender
            extenderClass="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.ui.information.MemoInformationControlExtender"
            informationClass="de.fu_berlin.imp.seqan.usability_analyzer.core.model.ILocatable">
      </extender>
      <extender
            extenderClass="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.ui.information.CodeInformationControlExtender"
            informationClass="de.fu_berlin.imp.seqan.usability_analyzer.core.model.ILocatable">
      </extender>
   </extension>
</plugin>
