<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.codeableprovider" name="Codeable Provider" schema="schema/de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.codeableprovider.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeView"
            icon="icons/view/code_misc.png"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeView"
            name="Codes"
            restorable="true">
      </view>
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeInstancesView"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeInstancesView"
            name="Associated Codes"
            restorable="true">
      </view>
   </extension>
     <extension
         point="org.eclipse.ui.commands">
        <command
              id="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.createCode"
              name="Create Code...">
        </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.addCodeInstance"
            name="Add Code...">
      </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID"
            name="Show Artefact ID...">
         <commandParameter
               id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID.justCopy"
               name="Just Copy"
               optional="false"
               values="de.fu_berlin.imp.seqan.usability_analyzer.core.commands.BooleanValues">
         </commandParameter>
      </command>
   </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.CreateCodeHandler"
              commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.createCode">
           <activeWhen>
              <or>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.emptySelection">
                 </reference>
                 <reference
                       definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
                 </reference>
              </or>
           </activeWhen>
        </handler>
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.AddCodeInstanceHandler"
              commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.addCodeInstance">
           <activeWhen>
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICodeable">
                    </adapt>
                 </iterate>
              </with>
           </activeWhen>
        </handler>
        <handler
              class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.ShowArtifactIDHandler"
              commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID">
           <activeWhen>
              <reference
                    definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeable">
              </reference>
           </activeWhen>
        </handler>
     </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.createCode"
               disabledIcon="icons/dtool16/create_code_tsk.png"
               icon="icons/etool16/create_code_tsk.png"
               label="Create Code..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.emptySelection">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.createCode"
               disabledIcon="icons/dtool16/create_code_tsk.png"
               icon="icons/etool16/create_code_tsk.png"
               label="Create Child Code..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.code.commands.addCodeInstance"
               disabledIcon="icons/dtool16/add_code_tsk.png"
               icon="icons/etool16/add_code_tsk.png"
               label="Add Code to Phenomenon..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasMultipleICodeables">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Remove Code from Phenomenon..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <and>
                     <reference
                           definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
                     </reference>
                     <reference
                           definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeInstancesView">
                     </reference></and>
                  <and>
                     <reference
                           definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeInstances">
                     </reference>
                     <reference
                           definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
                     </reference></and>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete Code..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodes">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.separator2"
               visible="true">
         </separator>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID"
               icon="icons/obj16/code_obj.png"
               label="Show Artefact ID"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeable">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID"
               icon="icons/obj16/code_obj.png"
               label="Copy Artefact ID"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeable">
               </reference>
            </visibleWhen>
            <parameter
                  name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.commands.showArtifactID.justCopy"
                  value="TRUE">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.RenameCodeHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <and>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
               </reference>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
               </reference>
            </and></activeWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.RemoveCodeHandlerCodeBased"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodes">
               </reference>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeInstancesView">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.RemoveCodeHandlerInstanceBased"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeInstances">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.handlers.DeleteCodeHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodes">
               </reference>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
               </reference>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.services.impl.ServiceFactory">
         <service
               serviceClass="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.services.ICodeService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.preferences.SUAGTPreferences"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.preferences.SUAGTPreferences"
            name="Grounded Theory Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.preferences.SUAGTPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeView"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="bottom"
               relative="de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogTimelineView"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeInstancesView"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="bottom"
               relative="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeView"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasMultipleICodeables">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICodeable">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasMultipleICodes">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICode">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasMultipleICodeaInstances">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.storage.ICodeInstance">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.core.emptySelection">
         <with
               variable="selection">
            <count
                  value="0">
            </count>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeView">
         <with
               variable="activePartId">
            <equals
                  value="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeView">
            </equals>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeables">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICodeable">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICode">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICode">
               </adapt>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodes">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICode">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isCodeInstancesView">
         <with
               variable="activePartId">
            <equals
                  value="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeInstancesView">
            </equals>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeInstances">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.storage.ICodeInstance">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasICodeInstances">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.storage.ICodeInstance">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.adaptsToICodeable">
         <adapt
               type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICodeable">
         </adapt>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasICodeables">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICodeable">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.isICodeable">
         <and>
            <reference
                  definitionId="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.hasICodeables">
            </reference>
            <reference
                  definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.definitions.singleSelection">
            </reference>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.storage.ICodeInstance"
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.storage.ICodeInstanceAdapterFactory">
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICodeable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.sourceProviders.SourceProvider">
         <variable
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.variable1"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.propertyTesters.ICodePropertyTester"
            id="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.propertyTesters.CodePropertyTester"
            namespace="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory"
            properties="hasInstances"
            type="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.model.ICode">
      </propertyTester>
   </extension>
</plugin>
