<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fu_berlin.imp.seqan.usability_analyzer.timeline" name="SeqAn Usability Analyzer Timeline" schema="schema/de.fu_berlin.imp.seqan.usability_analyzer.timeline.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.timeline.ui.views.TimelineView"
            icon="icons/view16/timeline_misc.png"
            id="de.fu_berlin.imp.seqan.usability_analyzer.timeline.ui.views.TimelineView"
            name="Timeline"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.timeline.navigateBack"
            name="Navigate Back">
      </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.timeline.navigateForward"
            name="Navigate Forward">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.timeline.navigateBack"
            icon="IMG_TOOL_BACK">
      </image>
      <image
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.timeline.navigateForward"
            icon="IMG_TOOL_FORWARD">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.timeline.handlers.NavigateBackHandler"
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.timeline.navigateBack">
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.timeline.handlers.NavigateForwardHandler"
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.timeline.navigateForward">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.bkahlert.nebula.information?after=additions">
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.timeline.navigateBack"
               style="push">
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.timeline.navigateForward"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
