<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fu_berlin.imp.apiua.timeline" name="API Usability Analyzer Timeline" schema="schema/de.fu_berlin.imp.apiua.timeline.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.fu_berlin.imp.apiua.category"
            class="de.fu_berlin.imp.apiua.timeline.ui.views.TimelineView"
            icon="icons/view16/timeline_misc.png"
            id="de.fu_berlin.imp.apiua.timeline.ui.views.TimelineView"
            name="Timeline"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.fu_berlin.imp.apiua.timeline.navigateBack"
            name="Navigate Back">
      </command>
      <command
            id="de.fu_berlin.imp.apiua.timeline.navigateForward"
            name="Navigate Forward">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.fu_berlin.imp.apiua.timeline.navigateBack"
            icon="IMG_TOOL_BACK">
      </image>
      <image
            commandId="de.fu_berlin.imp.apiua.timeline.navigateForward"
            icon="IMG_TOOL_FORWARD">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fu_berlin.imp.apiua.timeline.handlers.NavigateBackHandler"
            commandId="de.fu_berlin.imp.apiua.timeline.navigateBack">
         <enabledWhen>
            <or>
               <reference
                     definitionId="de.fu_berlin.imp.apiua.core.informationIsHasDateRange">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.apiua.timeline.handlers.NavigateForwardHandler"
            commandId="de.fu_berlin.imp.apiua.timeline.navigateForward">
         <enabledWhen>
            <or>
               <reference
                     definitionId="de.fu_berlin.imp.apiua.core.informationIsHasDateRange">
               </reference>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.bkahlert.nebula.information?after=additions">
         <separator
               name="de.fu_berlin.imp.apiua.timeline.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.fu_berlin.imp.apiua.timeline.navigateBack"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.apiua.core.informationIsHasDateRange">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.apiua.timeline.navigateForward"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.apiua.core.informationIsHasDateRange">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <separator
               name="de.fu_berlin.imp.apiua.timeline.separator2"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="com.bkahlert.nebula.information">
      <extender
            extenderClass="de.fu_berlin.imp.apiua.timeline.handlers.NavigateBindings">
      </extender>
   </extension>

</plugin>
