body {
    font-size: 10px;
}

html .timeline-container {
    bottom: 15px;
}

html .timeline-meta {
    height: 15px;
    padding: 0px;
    box-shadow: inset 0px 2px 4px #bbb;
    background: #ddd;
    border: none;
}

html .timeline-meta > div {
    padding: 2px 4px 1px 4px;
    background: none;
    text-shadow: none;
    color: #333;
}

html .timeline-meta > div a {
    color: #333;
}

/*
 * Draw a vertical line to the labels left
 * to indicate the beginning of the event.
 *
.timeline-event-label {
	margin-left: 5px;
}
.timeline-event-label:before {
	display: block;
	font-size: 1px;
	color: rgba(0,0,0,0);
	content: ".";
	position: absolute;
	width: 1px;
	height: 155%;
	top: -65%;
	left: -5px;
	z-index: 100;
	background-color: #000;
}
*/

.timeline-event-tape,
.timeline-event-tape:before,
.timeline-event-tape:after,
.timeline-small-event-tape {
	-webkit-background-size: 8px 8px;
	-moz-background-size: 8px 8px;
	background-size: 8px 8px; /* Controls the size of the stripes */
}

/*
 * Band Icons and Images
 */
html div.timeline-event-icon-default {
	border: none;
	padding: 0px;
}
html div.timeline-event-icon {
	padding: 0;
	height: 16px;
	overflow: hidden;
}
html div.timeline-event-icon,
html div.timeline-event-icon img {
	width: 16px;
}





/*
 * Only draw date labels for the last custom band.
 * Otherwise we would get the information redundantly for each band.
 */
div .timeline-custom-band:not(.last) .timeline-date-label {
	display: none;
}


.timeline-event-label.CODE_INSTANCE + .timeline-event-tape,
.timeline-small-event-tape.small-CODE_INSTANCE,
.timeline-event-label.EPISODE + .timeline-event-tape,
.timeline-small-event-tape.small-EPISODE {
    background-image:
        -webkit-linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%),
        -webkit-linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%),
        -webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%),
        -webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
        background-size: 13px, 29px, 37px, 53px;
}




.timeline-event-label.Diff + .timeline-event-tape,
.timeline-small-event-tape.small-Diff {
    background-image: -webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-image: -webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-image: -moz-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-image: -ms-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-image: -o-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-image: linear-gradient(0deg, transparent 50%, rgba(255,255,255,.5) 50%);
}


.timeline-event-label.DiffRecord + .timeline-event-tape,
.timeline-small-event-tape.small-DiffRecord {
	background-color: #555;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0,
							color-stop(.25, rgba(255, 255, 255, .5)), color-stop(.25, transparent),
							color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .5)),
							color-stop(.75, rgba(255, 255, 255, .5)), color-stop(.75, transparent),
	 						to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
						transparent 75%, transparent);
}

.timeline-event-label.CodeInstance + .timeline-event-tape,
.timeline-small-event-tape.CodeInstance {
    background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .5)), color-stop(.5, transparent), to(transparent));
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
}


.timeline-event-label.DoclogRecord + .timeline-event-tape,
.timeline-small-event-tape.small-DoclogRecord {
	background-color: #555;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
							color-stop(.25, rgba(255, 255, 255, .5)), color-stop(.25, transparent),
							color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .5)),
							color-stop(.75, rgba(255, 255, 255, .5)), color-stop(.75, transparent),
	 						to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
						transparent 75%, transparent);
}

.timeline-event-label.DoclogRecord.BLUR + .timeline-event-tape,
.timeline-event-label.DoclogRecord.BLUR + .timeline-event-tape + .timeline-event-icon {
	opacity: 0.5;
}

.timeline-event-label.DoclogRecord.LINK + .timeline-event-tape,
.timeline-event-label.DoclogRecord.UNLOAD + .timeline-event-tape {
	background-color: #b16c12;
}

.timeline-event-label.DoclogRecord.SURVEY + .timeline-event-tape {
	background-color: #C84342;
}