<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.uri.views.UriView"
            icon="icons/view16/uri_misc.png"
            id="de.fu_berlin.imp.seqan.usability_analyzer.uri.views.UriView"
            name="URIs"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="de.fu_berlin.imp.seqan.usability_analyzer.uri.services.impl.UriServiceFactory">
         <service
               serviceClass="de.fu_berlin.imp.seqan.usability_analyzer.uri.services.IUriService"></service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.uri.createUri"
            name="Create URI">
      </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.uri.editUri"
            name="Edit URI">
      </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.uri.deleteUri"
            name="Delete URI">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.uri.handlers.CreateUriHandler"
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.uri.createUri">
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.uri.handlers.EditUriHandler"
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.uri.editUri">
         <activeWhen>
            <or>
               <and>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.uri.isIUris">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.definitions.singleSelection">
                  </reference>
               </and>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.uri.handlers.DeleteUriHandler"
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.uri.deleteUri">
         <activeWhen>
            <or>
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.uri.isIUris">
               </reference>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.views.CodeView?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.uri.createUri"
               disabledIcon="icons/dtool16/create_uri_tsk.png"
               icon="icons/etool16/create_uri_tsk.png"
               label="Create URI..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.emptySelection">
                  </reference>
                  <with
                        variable="activePart">
                     <adapt
                           type="de.fu_berlin.imp.seqan.usability_analyzer.uri.views.UriView">
                     </adapt>
                  </with></and>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.uri.editUri"
               disabledIcon="icons/dtool16/edit_uri_tsk.png"
               icon="icons/etool16/edit_uri_tsk.png"
               label="Edit URI..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.uri.hasIUris">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.uri.deleteUri"
               disabledIcon="icons/dtool16/delete_uri_tsk.png"
               icon="icons/etool16/delete_uri_tsk.png"
               label="Delete URI..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.uri.hasIUris">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <separator
               name="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.separator2"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.uri.isIUris">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.uri.model.IUri">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.uri.hasIUris">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="de.fu_berlin.imp.seqan.usability_analyzer.uri.model.IUri">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.core.locatorprovider">
      <LocatorProvider
            class="de.fu_berlin.imp.seqan.usability_analyzer.uri.UriLocatorProvider">
      </LocatorProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.fu_berlin.imp.seqan.usability_analyzer.uri.model.IUri"
            class="de.fu_berlin.imp.seqan.usability_analyzer.uri.model.URIAdapterFactory">
         <adapter
               type="java.net.URI">
         </adapter>
      </factory>
   </extension>

</plugin>
