<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fu_berlin.imp.seqan.usability_analyzer.core.daterange" name="Date Range" schema="schema/de.fu_berlin.imp.seqan.usability_analyzer.core.daterange.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.fu_berlin.imp.seqan.usability_analyzer.core.preferences.SUACorePreferences"
            id="de.fu_berlin.imp.seqan.usability_analyzer.core.preferences.SUACorePreferences"
            name="Seqan Usability Analyzer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.fu_berlin.imp.seqan.usability_analyzer.core.preferences.SUACorePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.core.views.TimeZoneDateRangeView"
            id="de.fu_berlin.imp.seqan.usability_analyzer.core.views.TimeZoneDateRangeView"
            name="Date &amp; Time Range"
            restorable="true">
      </view>
   </extension>

</plugin>
