<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogExplorerView"
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogExplorerView"
            name="Doclog Explorer"
            restorable="true">
      </view>
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogScreenshotsView"
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogScreenshotsView"
            name="Doclog Screenshots"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeScreenshots"
            name="Take screenshots...">
      </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeAllScreenshots"
            name="Take all screenshots...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.handlers.TakeScreenshotHandler"
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeScreenshots">
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.handlers.TakeAllScreenshotHandler"
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeAllScreenshots">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogExplorerView">
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeScreenshots"
               style="push">
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeAllScreenshots"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogScreenshotsView">
         <control
               class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.controls.ScreenshotWidthSlider">
         </control>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.preferences.PreferencePage"
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.preferences.PreferencePage"
            name="Doclog">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.core.daterange">
      <DateRangeListenerFactory
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogExplorerView$Factory">
      </DateRangeListenerFactory>
   </extension>
</plugin>
