<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.fu_berlin.imp.seqan.usability_analyzer.category"
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogExplorerView"
            icon="icons/view16/doclog_misc.png"
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogExplorerView"
            name="Doclog Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeScreenshots"
            name="Take screenshots...">
      </command>
      <command
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeAllScreenshots"
            name="Take all screenshots...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.handlers.TakeScreenshotHandler"
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeScreenshots">
         <activeWhen>
            <reference
                  definitionId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.definitions.hasScreenshots">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.handlers.TakeAllScreenshotHandler"
            commandId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeAllScreenshots">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogExplorerView">
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeAllScreenshots"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeScreenshots"
               label="Take Screenshot..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.definitions.areScreenshots">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.definitions.singleSelection">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.commands.TakeScreenshots"
               label="Take Screenshots..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.definitions.areScreenshots">
                  </reference>
                  <reference
                        definitionId="de.fu_berlin.imp.seqan.usability_analyzer.core.definitions.multipleSelections">
                  </reference>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.preferences.SUADoclogPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.fu_berlin.imp.seqan.usability_analyzer.core.preferences.SUACorePreferences"
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.preferences.SUADoclogPreferencePage"
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.preferences.PreferencePage"
            name="Doclogs">
      </page>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.core.daterange">
      <DateRangeListenerFactory
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.views.DoclogExplorerView$Factory">
      </DateRangeListenerFactory>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.core.dataload">
      <DataLoadProvider
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.model.DoclogDataLoader"
            source="de.fu_berlin.imp.seqan.usability_analyzer.doclog.model.IDoclogLoadDependency">
      </DataLoadProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.fu_berlin.imp.seqan.usability_analyzer.doclog.model.DoclogRecord"
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.model.DoclogRecordAdapterFactory">
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.TimeZoneDateRange">
         </adapter>
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.IdentifierDateRange">
         </adapter>
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.FingerprintDateRange">
         </adapter>
         <adapter
               type="de.fu_berlin.imp.seqan.usability_analyzer.core.model.IRevealableInOS">
         </adapter>
      </factory>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.groundedtheory.codeableprovider">
      <CodeableProviderFactory
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.gt.DoclogCodeableProviderFactory">
      </CodeableProviderFactory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.definitions.isScreenshot">
         <adapt
               type="de.fu_berlin.imp.seqan.usability_analyzer.doclog.model.DoclogRecord">
         </adapt>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.definitions.hasScreenshots">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.definitions.isScreenshot">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.imp.seqan.usability_analyzer.doclog.definitions.areScreenshots">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="de.fu_berlin.imp.seqan.usability_analyzer.doclog.definitions.isScreenshot">
               </reference>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="de.fu_berlin.imp.seqan.usability_analyzer.timeline">
      <TimelineBandProvider
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.timeline.DoclogTimelineBandProvider">
      </TimelineBandProvider>
      <TimelineEventDetailProvider
            class="de.fu_berlin.imp.seqan.usability_analyzer.doclog.timeline.DoclogRecordTimelineEventDetailProvider">
      </TimelineEventDetailProvider>
   </extension>
</plugin>
